<link rel="stylesheet" type="text/css" href="public/css/datatables.css">
<script type="text/javascript" charset="utf8" src="public/js/datatables.js"></script>
<script type="text/javascript" charset="utf8" src="public/js/highcharts.js"></script>

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="card" id="rootwizard" style="background: none;-webkit-box-shadow:none;box-shadow:none;">
            <div class="card-heading ">
                <div style="background-color: #fff;border-radius:10px;padding: 30px;border: 1px solid #d6f0ff;">
                    <button class="btn btn-primary btn-sm hidden-print btn-sm" style="position: absolute;left: 30px;top: 15px;" onclick="window.location.href = '?k=reportes'">Volver</button> 
                    <h1><strong>Reporte lista de estudiantes</strong></h1>
                    <div class='row hidden-print' id="selectIE" style="background-color: #f5fbff;border-radius: 10px;padding:0px 0px 10px;margin: 4px;">
                        <div class="col-lg-6">
                            <select class="form-control" id="sedes" onchange="getIES();" style="margin: 2px 0 0;">
                                <option style="color:#ccc;" value="-1" disabled selected hidden>Seleccione sede</option>
                                <option value="0">Todas las sedes</option>
                                <?php foreach ($data['sedes'] as $d) { ?>
                                <option value="<?php echo $d['id'] ?>"><?php echo $d['sedeid'].' - '.$d['nombre']?></option>
                                <?php }?>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" id="ies" onchange="consultarUsuarios();">
                                <option style="color:#ccc;" value="-1" disabled selected hidden>Seleccione IE</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        
                        <div class="col-lg-12" style="display:none;" id="div_table">
                            <center>
                                <button class="btn btn-info hidden-print btn-sm" onclick="toogleDatatable(0);window.print();">Imprimir</button>
                            </center>
                            <div class="table-responsive">
                                <table class="table table-hover text-left" id="tb_usuarios">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Usuario</th>			                              
                                            <th>Ap.Paterno</th>
                                            <th>Ap.Materno</th>
                                            <th>Nombres</th>
                                            <th>Sede</th>
                                            <th>Institucion</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabla">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>	        				               
        </div>
    </div>
</div>
</div>
<script>
    window.onafterprint = function () {
        toogleDatatable(1);
    }

    var etiquetas = {
        "loadingRecords": "Cargando...",
        "search": "Filtrar:",
        "processing": "Procesando...",
        "emptyTable": "No existen registros para mostrar",
        "zeroRecords": "No se encontraron registros",
        "info": "Mostrando _START_ a _END_ de <span style='font-size:15;font-weight: bold;'>_MAX_</span> registros",
        "infoFiltered": "(Se encontraron _MAX_ registros)",
        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primera",
            "last": "Última",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "aria": {
            "sortAscending": ": activar para ordenar ascendientemente",
            "sortDescending": ": activar para ordenar descendientemente"
        }
    }
    function toogleReporte(swtch) {
        switch (swtch) {
            case 0:
                {
                    $('#div_table').css("display", "none");
                }
                break;
            case 1:
                {
                    $('#div_table').css("display", "block");
                }
                break;
        }

    }
    function getIES() {
        toogleReporte(0);
        var id = $('#sedes').val();
        switch (id) {
            case '0':
                {
                    $('#ies').attr('disabled', true);
                    consultarUsuarios();
                }
                break;
            default:
                {
                    $('#ies').attr('disabled', false);
                    $.ajax({
                        type: "POST",
                        url: '?k=reportes/geties',
                        data: {'id': id},
                        success: function (res) {
                            if (res != '') {
                                $('#ies').append(res);
                            } else {
                                alert('La sede seleccionada no tiene IEs asignadas');
                                $('#ies option[value!="-1"]').remove();
                                $('#ies').attr('disabled', true);
                            }
                        }
                    });
                }
                break;
        }
    }
    function toogleDatatable(swtch) {
        switch (swtch) {
            case 0:
                {
                    $('#tb_usuarios').DataTable().destroy();
                }
                break;
            case 1:
                {
                    $('#tb_usuarios').DataTable({
                        destroy: true,
                        "ordering": false,
                        "language": etiquetas
                    });
                }
                break;
        }
    }
    function consultarUsuarios() {
        toogleReporte(0);
        $('#tabla').html('');
        var sede = $('#sedes').val();
        var ie = $('#ies').val();

        if (sede == -1)
            return;
        if (sede != -1 && ie == -1)
            return;

        $.ajax({
            type: "POST",
            url: '?k=reportes/repuser',
            data: {'s': sede, 'i': ie},
            success: function (d) {//alert(d);return;
                if (d == '') {
                    if (sede == 0) {
                        alert('No se encontraron registros para todas las sedes');
                    } else if (ie != 0) {
                        alert('La IE seleccionada no tiene estudiantes asignados');
                    } else if (ie == 0) {
                        alert('No se encontraron registros para todas las IE');
                    }
                } else {
                    toogleReporte(1);
                    $('#tabla').html(d);
                    toogleDatatable(1);
                }
            }
        });
    }
</script>