
            </div>
          
          </div>
        </div>
               
        </section>




        </div>
                

        <script>
        
    /*
         function comprendido(){
         if($('input:checkbox[name=a]:checked').val()=="kk")
         $('#btn-comprendido').css('display','block');
         else
         $('#btn-comprendido').css('display','none');
         }
         */
            window.onload = function () {
                $('#inlineCheckbox1').click(function () {
                    comprendido();
                });
                var n = $('#num_alt').val();
                for (var i = 0; i < n; i++) {
                    $('input:radio[name="a' + i + '"]').click(function () {
                        verificarAlternativas();
                    });
                }
                $("#<?php echo $pagina?>").addClass('active');
            };

            function verificarAlternativas() {
                var band = true;
                var n = $('#num_alt').val();
                for (var i = 0; i < n; i++) {
                    if ($('input:radio[name="a' + i + '"]:checked').val() == undefined)
                        band = false;
                }
                if (band) {
                    var aa = '';
                    for (var i = 0; i < n; i++) {
                        aa = aa + $('input:radio[name="a' + i + '"]:checked').val() + '-';
                    }
                    $("#valores").val(aa);
                }
            }


            if ($('.stacked').length) {
                var data = [
                    {y: 'Total', a: <?php echo empty($data['a'])?0:$data['a']; ?>, b: <?php echo empty($data['b'])?0:$data['b']; ?>}
                ],
                    config = {
                                    data: data,
                            xkey: 'y',
                            ykeys: ['a', 'b'],
                            labels: ['FINALIZADO', 'PENDIENTE']
                            };
                            config.element = 'stacked';
                            config.stacked = true;
                            Morris.Bar(config);
                            }
                            
                            //if($('.stacked2').length){
                            function repProg(aa, bb, cc, dd, ee) {
                                $('#stacked').html('');
                                var data = [
                                    {y: dd + ' = ' + ee, a: aa, b: bb, c: cc}
                                ],
                                config = {
                                        data: data,
                                xkey: 'y',
                                ykeys: ['a', 'b', 'c'],
                                labels: ['FINALIZADO', 'PENDIENTE', 'NO INGRESO']
                                };
                                config.element = 'stacked';
                                config.stacked = true;
                                Morris.Bar(config);
                            }
                            //}
                                                    
                                                    
                            function mensaje(id,num){
                                var msj = '¿Esta seguro de eliminar la pregunta N° ' + num + '?';
                                $('#mod-msj').html(msj);
                                $('#mod-gua').attr('onclick', 'eliminarx(' + id + ')');
                            }
                                                    
                            $(document).ready(function(){
                                $(":input").keydown(function (e) {
                                    if (e.keyCode == 37) {
                                        var input = $(this);
                                        var len = $(this).prop("selectionStart");
                                        if (len != 0) {
                                                input[0].focus();
                                                input[0].setSelectionRange(len - 1, len - 1);
                                        }
                                    }
                                });
                            });
                                                                    
                            function cerrar(n){
                                if (n != 0) {
                                    window.location.href = '?k=index/salir';
                                    return;
                                } 			
                                $('#mod-bot').css('display','block');
                                $('#mod-mini').css('display','none');
                                $('#mod-gua').html('Salir');
                                $('#mod-gua').attr('onclick', "window.location.href = '?k=index/salir'");
                                $('#mod-can').html('Regresar');
                                $.ajax({
                                    type: "POST",
                                    url: '?k=estado/salir',
                                    data: {}, 
                                    success: function(d){
                                        if (d == 'Gracias') window.location.href = '?k=index/salir';
                                        $('#mod-msj').html(d);
                                    }
                                }); 
                            }
        </script>

<div class="modal fade in" id="toolabr_modal" tabindex="-1" role="dialog" aria-labelledby="toolabr_modal" style="display: none; padding-right: 17px;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="card m-0">
				<header style="padding: 1px 15px;">
					<h2 class="card-title"></h2>
				</header>
			</div>
			<div class="modal-body">
				<center><h1 id="mod-msj">Cerrando...</h1></center>
			</div>
			<div class="row" style="display:none;" id="mod-mini">
        		<center>
        			<div class="col-lg-12 text-center"><button class="btn btn-primary text-left" data-dismiss="modal" id="mod-ace">Aceptar<div class="ripple-container"></div></button></div>
        		</center>
      		</div>

			<div class="row" id="mod-bot">
        <center>
          <div class="col-lg-3"></div>
          <div class="col-lg-3"><button class="btn btn-primary text-left" id="mod-can" data-dismiss="modal">Cancelar</button></div>
          <div class="col-lg-3"><button class="btn btn-danger text-left" id="mod-gua" >Eliminar</button></div>        
          <div class="col-lg-3"></div>
        </center>
      </div>
		</div>
	</div>
</div>
      <script type="text/javascript" charset="utf8" src="public/js/multiple-select.js"></script>
    </body>
</html>
