<link rel="stylesheet" type="text/css" href="public/css/datatables.css">
<link rel="stylesheet" href="libs/jquery-ui.css">
<script type="text/javascript" charset="utf8" src="public/js/datatables.js"></script>
<script type="text/javascript" charset="utf8" src="public/js/highcharts.js"></script>
<script type="text/javascript" charset="utf8" src="libs/mshow/mshow.v1.0.2.js"></script>
<script type="text/javascript" charset="utf8" src="libs/jquery-ui.js"></script>


<div id="content_form_atencion" hidden>

    <div id="form_atencion">

        <table class="table table-hover text-left" id="tb_historia_linea1">
            <thead>
                <tr>                                                                      
                    <th>Fecha contacto</th>
                    <th>Motivo del contacto</th>
                    <th>Observaciones</th>
                    <th>Acciones tomadas</th>
                    <th>Cambio de fecha</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <hr>    
        
        <div >
                    
            <div class='EtiquetaDato'>1. Observaciones</div>

            <textarea id="txt_obs_linea2" style="width: 100%; height: 50px;"></textarea>
    
        </div>

        <div >
                    
            <div class='EtiquetaDato'>2. ¿Qué acciones tomaste?</div>

            <textarea id="txt_acciones_linea2" style="width: 100%; height: 50px;"></textarea>

        </div>

        <div >
                    
            <div class='EtiquetaDato solucion'>3. ¿Se solucionó el problema?</div>

            <div style='padding: 1px;'>

                <input type = 'radio' name='solucion' id="si_solucion_linea2" data-t = "1"/> 
                <label for="si_solucion_linea2">Si</label>

                <input type = 'radio' name='solucion' id="no_solucion_linea2" style = 'margin-left: 70px;' data-t = "2"/> 
                <label for="no_solucion_linea2">No</label>

            </div>

        </div>
    </div>

</div>

<div id="content_historia" hidden>

    <div id="form_historia">
            
        <table class="table table-hover text-left" id="tb_historia">
            <thead>
                <tr>                                                                        
                    <th>Nº</th>
                    <th>Fecha y hora</th>
                    <th>Motivo del contacto</th>
                    <th>Observaciones</th>
                    <th>¿Qué acciones tomaste?</th>
                    <th>¿Se solucionó el problema? [L1]</th>
                    <th>¿Es necesario derivar a línea 2?</th>
                    <th>¿Se solucionó el problema? [L2]</th>
                    <th>¿Cambió de fecha?</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <div style="text-align: right;">

            <div style="margin-right: 10px; display: inline-block;">Registrar incidente</div>
            <button id= 'addIncidente' title="Registrar incidente" type="button" class="btn btn-blue btn-fab animate-fab btn-fab-sm">
              <i class="zmdi zmdi-plus"></i>
            <div class="ripple-container"></div></button>

        </div>

    </div>

</div>

<div id="content_form_edit" hidden>

    <div id = "form_nuevo_incidente">

        <div> 
            
            <div class='EtiquetaDato motivo'>1. Motivo de contacto</div> 
                
                <div style='padding: 1px;'>
                    <input type = 'radio' 
                    onchange="obs(this , txt_otro_motivo )"
                    class='itemch chk-disp' name="motivo" id="chk_item1" data-t = "1" value="No tiene conexión a internet"/> 
                    <label for="chk_item1">No tiene conexión a internet</label>
                </div>

                <div style='padding: 1px;'>
                    <input type = 'radio' 
                    onchange="obs(this , txt_otro_motivo )"
                    class='itemch chk-disp' name="motivo" id="chk_item2" data-t = "2" value="No tiene acceso a un equipo electrónico"/> 
                    <label for="chk_item2">No tiene acceso a un equipo electrónico</label>
                </div>

                <div style='padding: 1px;'>
                    <input type = 'radio' 
                    onchange="obs(this , txt_otro_motivo )"
                    class='itemch chk-disp' name="motivo" id="chk_item3" data-t = "3" value="No recibió el usuario y contraseña"/> 
                    <label for="chk_item3">No recibió el usuario y contraseña</label>
                </div>
                
                <div style='padding: 1px;'>
                    <input type = 'radio' 
                    onchange="obs(this , txt_otro_motivo )"
                    class='itemch chk-disp' name="motivo" id="chk_item4" data-t = "4" value="Otras actividades no han permitido que ingrese a la plataforma"/> 
                    <label for="chk_item4">Otras actividades no han permitido que ingrese a la plataforma</label>
                </div>
                
                <div style='padding: 1px;'>
                    <input 
                        type = 'radio' 
                        class='itemch chk-disp' 
                        name="motivo" 
                        id="chk_item5" 
                        value="" 
                        onchange="obs(this , txt_otro_motivo )" 
                        data-t = "5"/> 
                    <label for="chk_item5">Otro </label>

                    <input 

                        type="text" 

                        placeholder="Ingrese otro motivo" 

                        id="txt_otro_motivo" 

                        onblur = "chk_item5.value = txt_otro_motivo.value"

                        maxlength="100" 

                        style=" width: 495px;border-radius: 5px;margin-left: 10px" hidden>

                </div>   

        </div> 

        <div >
                    
            <div class='EtiquetaDato'>2. Observaciones</div>

            <textarea id="txt_obs" style="width: 100%; height: 50px;"></textarea>
    
        </div>

        <div >
                    
            <div class='EtiquetaDato'>3. ¿Qué acciones tomaste?</div>

            <textarea id="txt_acciones" style="width: 100%; height: 50px;"></textarea>

        </div>

        <div >
                    
            <div class='EtiquetaDato solucion'>4. ¿Se solucionó el problema?</div>

            <div style='padding: 1px;'>

                <input type = 'radio' name='solucion' id="si_solucion" data-t = "1" <?= $_SESSION['linea'] == "1" ? 'onchange="solucionar(this)"' : '' ?> /> 
                <label for="si_solucion">Si</label>

                <input type = 'radio' name='solucion' id="no_solucion" style = 'margin-left: 70px;' data-t = "2" <?= $_SESSION['linea'] == "1" ? 'onchange="solucionar(this)"' : '' ?> /> 
                <label for="no_solucion">No</label>

            </div>

        </div>

            <div id='cuadro_derivar' <?= $_SESSION['linea'] == "2" ? 'hidden' : ''  ?> >
                        
                <div class='EtiquetaDato derivar'>5. ¿Es necesario derivar a línea 2?</div>

                <div style='padding: 1px;'>

                    <input type = 'radio' name='derivar' id="si_derivar" data-t = "1" /> 
                    <label for="si_derivar">Si</label>

                    <input type = 'radio' name='derivar' id="no_derivar" style = 'margin-left: 70px;' data-t = "2" <?= $_SESSION['linea'] == "2" ? 'checked' : ''  ?>/> 
                    <label for="no_derivar">No</label>

                </div>

            </div>


        <div >
                    
            <div class='EtiquetaDato fecha'><?= $_SESSION['linea'] == "1" ? "6" : "5" ?> . Requiere cambio de fecha</div>

            <div style='padding: 1px;'>

                <input 
                    type = 'radio' 
                    onchange="obs(this , txt_fecha_cambio )" 
                    name='fecha' id="si_fecha" data-t = "5"/> 
                <label for="si_fecha">Si</label>

                <input 

                    type="text" 

                    placeholder="Ejemplo: 20/10/2020" 

                    id="txt_fecha_cambio" 

                    style=" width: 165px;border-radius: 5px;margin-left: 10px" 
                    
                    onkeydown='return clarByKey(event, this);' 
                    
                    autocomplete="off"

                    hidden>

                <input type = 'radio' 
                    onchange="obs(this , txt_fecha_cambio )" 
                    name='fecha' id="no_fecha" style = 'margin-left: 70px;' data-t = "2"/> 

                <label for="no_fecha">No</label>

            </div>
    
        </div>

    </div>

</div>


<div class="row">
    <div class="col-lg-12 text-center">

        <div class="card" id="rootwizard" style="background: none;-webkit-box-shadow:none;box-shadow:none;">
            <div class="card-heading ">
                <div style="background-color: #fff;border-radius:10px;padding: 30px;border: 1px solid #d6f0ff;">
                    <button class="btn btn-primary btn-sm hidden-print btn-sm" style="position: absolute;left: 30px;top: 15px;" onclick="window.location.href = '?k=supervisor'">Volver</button>                
                    <h1><strong>Monitoreo</strong></h1>

                    <div class='row hidden-print' id="selectIE" style="background-color: #f5fbff;border-radius: 10px;padding:0px 0px 10px;margin: 4px;" >

                        <div class="col-lg-6">
                            
                            <?php $nsedes=count($data['sedes']); ?>

                            <select class="form-control" id="sedes" onchange="getIES();" style="margin: 2px 0 0;">
                                
                                <option style="color:#ccc;" value="-1" disabled selected hidden>Seleccione sede</option>
                                
                                <?php if($nsedes>1): ?>
                                
                                    <option value="0">Todas las sedes</option>
                                
                                <?php endif;?>

                                <?php foreach ( $data['sedes'] as $d ) : ?>
                                    
                                    <option value="<?php echo $d['id'] ?>" <?= $nsedes === 1 ? 'selected' : '' ?> ><?php echo $d['sedeid'].' - '.$d['nombre']?></option>
                                
                                <?php endforeach; ?>

                            </select>
                            
                            <?php if( $nsedes === 1 ): ?>
                            
                                <script type="text/javascript">
                                
                                    $(document).ready(function(){

                                        $('#sedes option').eq(1).prop('selected', true);
                                        $('#sedes').change();
                                    
                                    });

                                </script>
                                
                            <?php endif; ?>


                        </div>

                        <div class="col-lg-6">
                            <select class="form-control" id="ies" onchange="consultarProgreso()">
                                <option style="color:#ccc;" value="-1" disabled selected hidden>Seleccione IE</option>
                            </select>
                        </div>
                    
                    </div>

                    <div class="row" id="div_graph" style="display:none;" hidden>
                        <div class="col-lg-12"><center><div id="stacked" class="stacked2"  style="width: 600px;padding:20px"></div></center>
                        </div>
                    </div>
                    <br>
                    <div class="row hidden-print" style="display:none;" id="div_table">
                        <div class="col-lg-12">
                            <div class="table-responsive" >
                                <table class="table table-hover text-left" id="tb_progreso">
                                    <thead>
                                        <tr>   
                                        <?php if ($_SESSION['linea'] == "1" ) : ?>                                   
                                            <th>Monitor</th>
                                            <th>Nombres</th>
                                            <th>I.E</th>
                                            <th>Fecha que desarrollará</th>
                                            <th>Estado</th>
                                            <th>Avance</th>
                                            <th>Registro</th>
                                        <?php else : ?>
                                            <th>Monitor</th>
                                            <th>Nombres</th>
                                            <th>I.E</th>
                                            <th>Fecha que desarrollará</th>
                                            <th>Estado</th>
                                            <th>Avance</th>
                                            <th>Incidente</th>
                                            <th>Registro</th>
                                        <?php endif; ?>                                   

                                        </tr>
                                    </thead>
                                    <tbody id="tabla">
                                    </tbody>
                                </table>
                            </div>
                            <center>
                                <button class="btn btn-sm btn-info hidden-print" onclick="exportar()">Exportar a Excel</button>
                            </center>
                        </div>

                    </div>

                </div>	        				               
            </div>
        </div>
    </div>
</div>

<script>

    var dialogo = new mShowClass;    

    function atenderIncidente( idincidencia )
    {

        cerrarListaHistoria();

        $.ajax({
                type: "POST",
                url: '?k=supervisor/consultaIncidente',
                data: {'id': idincidencia , tipo : <?= $data['tipo'] ?>},
                success: function (d) {
                    
                    var tabla = JSON.parse(d).tabla;
                    
                    $('#tb_historia_linea1 tbody').html('');

                    $('#tb_historia_linea1 tbody').append( tabla );

                    dialogo.mModal( '#content_form_atencion', "#form_atencion" , "Atencion de incidentes" , 1 , 'Guardar','Cerrar', 'grabarIncidenteLinea2(' + idincidencia + ')' , 'cerrarFormAtencion()' , '650px' );

                    $('html, body').animate({scrollTop:0}, 'slow');

                }
            });

    }

    function formIncidente( idpersona , actualizar = 0 , idincidencia = null )
    {

        cerrarListaHistoria();

        if ( actualizar === 0 )
        {

            dialogo.mModal( 
                            '#content_form_edit', 
                            "#form_nuevo_incidente" , 
                            "Registrar incidente" , 
                            1 , 
                            'Guardar',
                            'Cancelar', 
                            'grabarIncidente(' + idpersona + ')' , 
                            'historiaIncidente(' + idpersona + ');', 
                            '600px' 
                            
                            );
        
        }
        else
        {

            $.ajax({
                    type: "POST",
                    url: '?k=supervisor/consultaIncidente',
                    data: {'id': idincidencia , tipo : <?= $data['tipo'] ?>},
                    success: function (d) {

                        var dato = JSON.parse(d).data[0];
                        
                        for (var i = 0; i < $('.itemch').length; i++) 
                        {

                            var obj = $($('.itemch')[i]);

                            if ( obj.val() == dato.problema && i < 4 )
                            {

                                obj.prop('checked' , true );

                                break;

                            }
                            else if ( i == 4 )
                            {
                                
                                obj.prop('checked' , true );

                                obj.change();

                                $('#txt_otro_motivo').val( dato.problema );

                            }

                        }

                        if ( dato.solucionado == "1" )
                        {

                            $("#si_solucion").prop('checked', true );
                            
                            $("#si_solucion").change();

                        } 
                        else if ( dato.solucionado == "2" )
                        {
                             
                            $("#no_solucion").prop('checked', true);

                            $("#no_solucion").change();

                        }

                        if ( dato.linea02 == "1" )
                        {

                            $("#si_derivar").prop('checked', true );
                            
                            $("#si_derivar").change();

                        } 
                        else if ( dato.linea02 == "2" )
                        {
                             
                            $("#no_derivar").prop('checked', true);

                            $("#no_derivar").change();

                        }

                        if ( dato.cambio_fecha != "00/00/0000" )
                        {

                            $("#si_fecha").prop('checked', true );
                            
                            $("#si_fecha").change();

                            $('#txt_fecha_cambio').val( dato.cambio_fecha )

                        } 
                        else
                        {
                             
                            $("#no_fecha").prop('checked', true);

                            $("#no_fecha").change();

                        }
                        
                        $('#txt_obs').val( dato.observaciones );
                        
                        $('#txt_acciones').val( dato.acciontomada );

                        dialogo.mModal( 

                                        '#content_form_edit', 
                                        "#form_nuevo_incidente" , 
                                        "Registrar incidente" , 
                                        1 , 
                                        'Guardar',
                                        'Cancelar', 
                                        'grabarIncidente(' + idpersona + ' , 1 , ' + idincidencia + ')' , 
                                        'historiaIncidente(' + idpersona + ');', 
                                        '600px' 
                                        
                                        );

                    }
                });

        }

        $('html, body').animate({scrollTop:0}, 'slow'); 

    }

    function historiaIncidente( idpersona , titulo = "" )
    {
        
        cerrarForm();

         $.ajax({
            type: "POST",
            url: '?k=supervisor/historial_incidente',
            data: {'id': idpersona , tipo : <?= $data['tipo'] ?> },
            success: function (d) {

                $('#tb_historia tbody').append( d );

                dialogo.mModal( '#content_historia', "#form_historia" , "Historial de incidentes " + titulo , 1 , 'Cerrar','', 'cerrarListaHistoria()' , '' , 'calc(100% - 50px )' );

                $('#addIncidente').attr('onclick','formIncidente(' + idpersona + ')');

                $('html, body').animate({scrollTop:0}, 'slow');

            }
        });

    }

    function cerrarListaHistoria()
    {

        $('#tb_historia tbody').html('');
        
        dialogo.unModal('#content_historia', "#form_historia" );

    }

    function cerrarForm()
    {
       

        <?php if ( $_SESSION['linea'] != "2" ): ?>
        
            $('#no_derivar').prop('checked' , false );
        
        <?php endif;?>

        $('#chk_item1,#chk_item2,#chk_item3,#chk_item4,#chk_item5,#si_derivar,#si_solucion,#no_solucion,#si_fecha,#no_fecha').prop('checked' , false );

        $('#txt_otro_motivo,#txt_obs,#txt_acciones,#txt_fecha_cambio').val('');
        
        $('#txt_otro_motivo, #txt_fecha_cambio').hide();

        dialogo.unModal('#content_form_edit', "#form_nuevo_incidente" );

    }

    function cerrarFormAtencion()
    {

        $('#si_solucion_linea2,#no_solucion_linea2').prop('checked' , false );

        $('#txt_obs_linea2,#txt_acciones_linea2').val('');
        
        dialogo.unModal('#content_form_atencion', "#form_atencion" );

    }
    
    var etiquetas = {
        "loadingRecords": "Cargando...",
        "search": "Filtrar:",
        "processing": "Procesando...",
        "emptyTable": "No existen registros para mostrar",
        "zeroRecords": "No se encontraron registros",
        "info": "Mostrando _START_ a _END_ de <span style='font-size:15;font-weight: bold;'>_MAX_</span> registros",
        "infoFiltered": "(Se encontraron _MAX_ registros)",
        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primera",
            "last": "Última",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "aria": {
            "sortAscending": ": activar para ordenar ascendientemente",
            "sortDescending": ": activar para ordenar descendientemente"
        }
    }
    function toogleReporte(swtch) {
        
        switch (swtch) {
            case 0:
                {
                    $('#div_graph').css("display", "none");
                    $('#div_table').css("display", "none");
                }
                break;
            case 1:
                {
                    $('#div_graph').css("display", "block");
                    $('#div_table').css("display", "block");
                }
                break;
        }

    }

    function grabarIncidente( idpersona , actualizar = 0 , idincidencia = null ){

        $('.motivo,.solucion,.derivar,.fecha,#txt_fecha_cambio,#txt_obs,#txt_acciones').removeClass( 'alertaTipo' );

        var motivo = "";

        for (var i = 0; i < $('.itemch').length; i++) {
            
            var obj = $($('.itemch')[i]);

            if ( obj.prop('checked') == true )
            {

                motivo = obj.val();

                break;

            }

        }

        var alert=0;
        
        if ( !motivo )
        {            
            $('.motivo').addClass( 'alertaTipo' );
            alert = 1;
        }

        var solucion = $("#si_solucion").prop('checked') ? 1 : ( $("#no_solucion").prop('checked') ? 2 : 0 )  ;
        
        if ( !solucion )
        {

            $('.solucion').addClass( 'alertaTipo' );
            alert = 1;
        }

        var derivar = $("#si_derivar").prop('checked') ? 1 : ( $("#no_derivar").prop('checked') ? 2 : 0 )  ;
        
        if ( !derivar )
        {
            $('.derivar').addClass( 'alertaTipo' );
            alert = 1;
        }

        var fecha = $("#si_fecha").prop('checked') ? 1 : ( $("#no_fecha").prop('checked') ? 2 : 0 )  ;

        if ( !fecha )
        {
            $('.fecha').addClass( 'alertaTipo' );
            alert = 1;
        }

        if ( fecha === 1)
        {

            if ( !$('#txt_fecha_cambio').val() )
            {
                $('#txt_fecha_cambio').addClass( 'alertaTipo' );
                alert = 1;
            }

        }
        
        // if ( !$('#txt_obs').val() )
        // {
        //     $('#txt_obs').addClass( 'alertaTipo' );
        //     alert = 1;
        // }
        
        if ( !$('#txt_acciones').val() )
        {
            $('#txt_acciones').addClass( 'alertaTipo' );
            alert = 1;
        }

   if ( alert === 1 )
    {
        return false;
    }

        var data = { 
                        'id' : idpersona,
                        'motivo' : motivo , 
                        'observaciones' : $('#txt_obs').val(), 
                        'accion' : $('#txt_acciones').val(), 
                        'solucion' : solucion ,
                        'linea02' : derivar ,
                        'cambio_fecha' : $('#txt_fecha_cambio').val()
                    };

        $.ajax({
            type: "POST",
            url: '?k=supervisor/setIncidente',
            data: { 
                    
                        data : data , 
                        actualiza : actualizar , 
                        idincidencia : idincidencia , 
                        tipo : <?= $data['tipo'] ?> 

                    },
            success: function (d) {
                // console.log(d);
                // return false;
                cerrarForm();
                
                historiaIncidente(idpersona);
                // console.log(d);
            }
        });

    }

    function grabarIncidenteLinea2( idincidencia )
    {
    
        $('.solucion,#txt_obs_linea2,#txt_acciones_linea2').removeClass( 'alertaTipo' );
        
        alert = 0;

        var solucion = $("#si_solucion_linea2").prop('checked') ? 1 : ( $("#no_solucion_linea2").prop('checked') ? 2 : 0 )  ;

        if ( !solucion )
        {
            $('.solucion').addClass( 'alertaTipo' );
            alert = 1;
        }
        
        // if ( !$('#txt_obs_linea2').val() )
        // {
        //     $('#txt_obs_linea2').addClass( 'alertaTipo' );
        //     alert = 1;
        // }
        
        if ( !$('#txt_acciones_linea2').val() )
        {
            $('#txt_acciones_linea2').addClass( 'alertaTipo' );
            alert = 1;
        }

   if ( alert === 1 )
    {
        return false;
    }

        var data = { 
                        'id' : idincidencia,
                        'observaciones' : $('#txt_obs_linea2').val(), 
                        'accion' : $('#txt_acciones_linea2').val(), 
                        'solucion' : solucion
                    };

        $.ajax({
            type: "POST",
            url: '?k=supervisor/setAtencionIncidente',
            data: { data : data , tipo : <?= $data['tipo'] ?> },
            success: function (d) {
                // console.log(d);
                // return false;
                cerrarForm();
                // consultarProgreso();
                location.reload();
                
                // historiaIncidente(idpersona);
                // console.log(d);
            }
        });

    }

    function getIES() {
        toogleReporte(0);
        $('#ies option[value!="-1"]').remove();
        $('#ies').val("-1"); 
        var id = $('#sedes').val();
        switch (id) {
            case '0':
                {
                    $('#ies').attr('disabled', true);
                    consultarProgreso();
                }
                break;
            default:
                {
                    $('#ies').attr('disabled', false);
                    $.ajax({
                        type: "POST",
                        url: '?k=supervisor/geties',
                        data: {'id': id},
                        success: function (res) {
                            if (res != '') {
                                $('#ies').append(res);
                            } else {
                                alert('La sede seleccionada no tiene IEs asignadas');
                                $('#ies').attr('disabled', true);
                            }
                        }
                    });
                }
                break;
        }
        //cambiarEtiq();
    }

    function consultarProgreso() {
        toogleReporte(0);
        //cambiarEtiq();
        var tipo = <?= $data['tipo'] ?>;
        var sede = $('#sedes').val();
        var ie = $('#ies').val();

        $('#stacked').html('');
        $('#tb_progreso').DataTable().destroy();
        if (sede === '-1') {
            return;
        }
        if (sede !== '-1' && ie === '-1') {
            return;
        }
        $.ajax({
            type: "POST",
            url: '?k=supervisor/rep_reg_incidente',
            data: {'s': sede, 'i': ie , 'tipo' : tipo },
            success: function (d) {
                var r = JSON.parse(d);
                if (r['tabla'] == '') {
                    if (sede == 0) {
                        alert('No se encontraron registros para todas las sedes');
                    } else if(ie!=0) {
                        alert('La IE seleccionada no tiene directores asignados');
                    } else if(ie==0) {
                        alert('No se encontraron registros para todas las IE');
                    }
                } else {
                    toogleReporte(1);
                    grafProgreso(r['total'][0], r['total'][1], r['total'][2], r['total'][3]);
                    $('#tabla').html(r['tabla']);
                    $('#tb_progreso').DataTable({
                        "ordering": false,
                        "language": etiquetas
                    });
                }
            }
        });
    }
    function grafProgreso(finalizado, pendiente, noingreso, total) {
        return false;
        Highcharts.chart('stacked', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                style: {
                    fontFamily: 'Poppins'
                },
                type: 'pie',
//                marginRight: marginRight,
//                marginBottom: marginBottom,
                marginLeft: 30,
                height: 400
            },
            title: {
                text: 'Progreso de directores'
            },
            subtitle: {
                text: 'Total: ' + total
            },
            exporting: {enabled: false},
            credits: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    size: 200,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y}',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                    name: 'Porcentaje',
                    colorByPoint: true,
                    data: [{
                            name: 'Pendientes',
                            y: parseInt(pendiente),
                            color: "#cccccc"
                        }, {
                            name: 'No Ingresaron',
                            y: parseInt(noingreso),
                            color: "#cc3333"
                        }, {
                            name: 'Finalizados',
                            y: parseInt(finalizado),
                            color: "#3366cc",
                            sliced: true,
                            selected: true
                        }]
                }]
        });
    }

    function cambiarEtiq() {
        $('#stacked').html('');
        $('#txt-sede').html(' ');
        $('#txt-ie').html(' ');
        var s = $('#sedes option:selected').text();
        var i = $('#ies option:selected').text();
        $('#txt-sede').html(s);
        $('#txt-ie').html(i);
    }

    function exportar() {
        var sede = $('#sedes').val();
        var ie = $('#ies').val();
        if (sede == -1)
            return;
        if (sede != -1 && ie == -1)
            return;
        var a = document.createElement("a");
        a.target = "_blank";
        a.href = "?k=supervisor/exportar/" + sede + "/" + ie +  "/<?= $data['tipo'] ?>";
        a.click();
    }

    function obs( objeto , objeto_mostrar)
    {

        if( $( objeto ).data('t') == 5 )
        {

            $(objeto_mostrar).show();

        }
        else
        {
            
            $(objeto_mostrar).hide();

        }

    }

    function solucionar( objeto )
    {

        if( $( objeto ).data('t') == 1 )
        {

            $('#cuadro_derivar').hide();

            $('#no_derivar').prop('checked' , true );

        }
        else
        {
            
            $('#cuadro_derivar').show();

            $('#no_derivar').prop('checked' , false );

        }

    }

    $(document).ready(function(){

        try
        {

            $("#txt_fecha_cambio").datepicker({
                
               dateFormat: "dd/mm/yy",

                dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado" ],

                dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],

                constrainInput: true,
                
                minDate: new Date('2020-08-06'), 

                maxDate: new Date('2020-08-24'),

                autoSize: true,
                
                firstDay: 1,

                monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Augosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],

                monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ]

            });

        }
        catch (error) 
        {

            console.error('Error al cargar el modulo');
            
        }

    });

    function clarByKey(e, obj)
    {
        var keyDown = e.keyCode;

        if ( keyDown === 8 || keyDown === 46 )
        {

            obj.value='';

        }
        else
        {

            return false;

        }

    }

</script>


<style type="text/css">
    
.est-reg-tb
{

    padding: 3px;
    width: 100px;
    /*height: 10px;*/
    border-radius: 3px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 7pt!important;
}
.val-t-tb
{

    /*background-color: #1062b3 !important;*/
    padding-left: 5px!important;
    color: #1062b3;
    border-color: #1062b3 ;
    font-size: 8pt;
    font-weight: bold;
    background: url('public/img/mod_completo_15.png') 2px 2px no-repeat;

}
.ini
{
    color: white;
    font-size: 9pt;
    border-color: #FFA240;
    background-color: #FFA240!important;
    /*background: #FFA240 url('../img/alerta.gif') 85px 5px no-repeat;*/

}

.cer
{

    color: #DF0101;
    font-size: 9pt;
    border:none;
    background-color: white!important;
    padding-left: 15px;
    font-weight: bold;
    background: url('public/img/eliminar_w_15.png') 6px 6px no-repeat;

}

.alertaTipo{
    background:url("public/img/alerta_15.png");
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left: 25px !important;
    border-color: #8A4B08!important;
    border: 1px solid #8A4B08!important;
    background-color: #F3E2A9;
    color:#61380B!important;
    border-radius: 3px; 
}
</style>
