<div class="row">
	    <div class="col-lg-12 text-center">
	      	<div class="card" id="rootwizard" style="background: none;-webkit-box-shadow:none;box-shadow:none;">
	        	<div class="card-heading ">
	        		<div style="background-color: #fff;border-radius:10px;padding: 30px;border: 1px solid #d6f0ff;">
	        		<button class="btn btn-primary btn-sm hidden-print btn-sm" style="position: absolute;left: 30px;top: 15px;" onclick="window.location.href = '?k=supervisor'">Volver</button> 
	        			<h1><strong>Monitoreo</strong></h1>
	        			<div class='row hidden-print' id="selectIE" style="background-color: #f5fbff;border-radius: 10px;padding:0px 0px 10px;margin: 4px;">
	                        <div class="col-lg-6">
	                          <select class="form-control" id="sedes"  style="margin: 2px 0 0;">
	                             <option value="<?php echo $data['id'] ?>"><?php echo $data['sedeid'].' - '.$data['nombre']?></option>
	                          </select>
	                        </div>
	                        <div class="col-lg-6">
	                          <select class="form-control" id="ies" onchange="buscar()">
	                          		<?php echo $data['ies'] ?>
	                          </select>
	                        </div>
                      </div>

                      <div class="row">
                      	<div class="col-lg-12">                      		
                      		<center>
                      			<button class="btn btn-info hidden-print btn-sm" onclick="window.print()">Imprimir</button>
                      		</center>
                      	</div>
                      	</div>
                      	<div class="row">
                      		<div class="col-lg-12">
                      			<div class="table-responsive">
			                        <table class="table table-hover text-left">
			                          <thead>
			                            <tr>
			                              <th>#</th>
			                              <th>Usuario</th>			                              
			                              <th>Ap.Paterno</th>
			                              <th>Ap.Materno</th>
			                              <th>Nombres</th>
			                              <th>Sede</th>
			                              <th>Institucion</th>
			                            </tr>
			                          </thead>
			                          <tbody id="tabla">
			                          </tbody>
			                        </table>
			                      </div>
                      		</div>
                      		
                      	</div>

                      </div>
                      
					</div>	        				               
	        	</div>
	      	</div>
	    </div>
</div>
<script>
  function buscar(){
  	$('#tabla').html('');
  	var s = $('#sedes').val();
  	var i = $('#ies').val();

  		if(s==-1) return;
  		if(s!=-1 && i==-1) return;
  	
  	$.ajax({
      type: "POST",
      url: '?k=supervisor/repuser',
      data: {'s':s,'i':i}, 
      success: function(d){//alert(d);return;
          $('#tabla').html(d);
      }                
	});
  }
</script>