<div class="row">
	<div class="col-lg-1"></div>
	    <div class="col-lg-10 text-center">

	      	<div class="card" id="rootwizard" style="background: none;-webkit-box-shadow:none;box-shadow:none;">
	        	<div class="card-heading ">
	        		<div style="background-color: #fff;border-radius:10px;padding: 30px;border: 1px solid #d6f0ff;">
              <button class="btn btn-primary btn-sm hidden-print btn-sm" style="position: absolute;left: 30px;top: 15px;" onclick="window.location.href = '?k=reportes'">Volver</button>                
	        			<h1><strong>Reporte análisis de respuestas</strong></h1>
	        			<div class='row hidden-print' id="selectIE" style="background-color: #f5fbff;border-radius: 10px;padding:0px 0px 10px;margin: 4px;">
	                        <div class="col-lg-6">
	                          <select class="form-control" id="sedes" onchange="getIE();" style="margin: 2px 0 0;">
	                             <option style="color:#ccc;" value="-1">Sede</option>
	                             <option value="0">Todo</option>
	                            <?php foreach ($data['sedes'] as $d) { ?>
	                                <option value="<?php echo $d['id'] ?>"><?php echo $d['sedeid'].' - '.$d['nombre']?></option>
	                            <?php }?>
	                          </select>
	                        </div>
	                        <div class="col-lg-6">
	                          <select class="form-control" id="ies" onchange="buscar()">
	                          		<option style="color:#ccc;" value="0">Institución educativa</option>
	                          </select>
	                        </div>
                      </div>
                      <div class="row">
                      	<div class="col-lg-4">
                      		<br><br>
                      		<header class="m-b-20">
                      			<small>sede</small>
	                          	<h3 class="m-0" id="txt-sede">Sede</h3>
	                          
	                        </header>
	                        <header class="m-b-20">
	                        	<small>Institución Educativa</small>
	                          	<h3 class="m-0" id="txt-ie">Institución Educativa</h3>
	                          
	                        </header>
                      		<center>
                      			<button class="btn btn-info hidden-print" onclick="window.print()">Imprimir</button>
                      		</center>
                      	</div>
                      	<div class="col-lg-8"><center><div id="stacked" class="stacked2"  style="width: 500px;"></div></center>
                      	</div>
                      </div>
                      
					</div>	        				               
	        	</div>
	      	</div>
	    </div>
	<div class="col-lg-1"></div>
</div>

<script>
  function getIE(){      
    var id = $('#sedes').val();
    switch(id){
    	case '-1':{
    		$('#ies').html('<option style="color:#ccc;" value="0">Institución educativa</option>');    		
    	}break;
    	case '0':{
    		$('#ies').html('');
    		buscar();
    	}break;
    	default:{
		    $.ajax({
		      type: "POST",
		      url: '?k=reportes/geties',
		      data: {'id':id}, 
		      success: function(d){ 
		          $('#ies').html(d);
		          buscar();
		      }
		    }); 
    	}break;
    }  
    cambiarEtiq();  
  }

  function buscar(){
  	cambiarEtiq();
  	var s = $('#sedes').val();
  	var i = $('#ies').val();
  	$('#stacked').html('');
  		if(s==-1) return;
  		if(s!=-1 && i==-1) return;
  	
  	$.ajax({
      type: "POST",
      url: '?k=reportes/repprog',
      data: {'s':s,'i':i}, 
      success: function(d){//alert(d);return;
          var r=d.split('#');
          repProg(r[0],r[1],r[2],'Total',r[3]);
      }                
	});   	
  }

  function cambiarEtiq(){
  	$('#stacked').html('');
  	$('#txt-sede').html(' ');
  	$('#txt-ie').html(' ');
  	var s = $('#sedes option:selected').text();
  	var i = $('#ies option:selected').text();
  	$('#txt-sede').html(s);
  	$('#txt-ie').html(i);
  }
</script>