<div class="row">
    <div class="col-lg-12 text-center">
        <div class="card" id="rootwizard" style="background: none;-webkit-box-shadow:none;box-shadow:none;">
            <div class="card-heading ">
                <div style="background-color: #fff;border-radius:10px;padding: 30px;border: 1px solid #d6f0ff;">
                    <button class="btn btn-primary btn-sm hidden-print btn-sm" style="position: absolute;left: 30px;top: 15px;" onclick="window.location.href = '?k=reportes'">Volver</button> 
                    <h1><strong>Configurar preguntas</strong></h1>
<!--                    <center><button class="btn btn-info hidden-print btn-sm" onclick="window.print()">Imprimir</button></center>-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table text-left">
                                    <?php for($i=0;$i<sizeof($data);$i++){ ?>
                                    <thead>
                                        <tr>
                                            <th><?php echo ($i+1) ?></th>
                                            <th colspan="6"><strong><?php echo $data[$i]['p'] ?></strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php for($j=0;$j<sizeof($data[$i]['a']);$j++){ ?>
                                        <tr>
                                            <th></th>
                                            <th><?php echo ($i+1).'.'.($j+1) ?></th>
                                            <td><?php echo $data[$i]['a'][$j] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c1'] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c1'] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c1'] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c1'] ?></td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>

                                    <?php } ?>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>

            </div>	        				               
        </div>
    </div>
</div>
