<?php 
function toAlphabet($alt) {
    $alphabet = array('A', 'B', 'C', 'D', 'E',
    'F', 'G', 'H', 'I', 'J',
    'K', 'L', 'M', 'N', 'Ñ', 'O',
    'P', 'Q', 'R', 'S', 'T',
    'U', 'V', 'W', 'X', 'Y',
    'Z'
    );

    $length = count($alphabet);
    for ($i = 0; $i < $length; $i++) {
        if ($i === $alt - 1) {
            $return = $alphabet[$i];
        }
    }
    return $return;
}
?>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="card" id="rootwizard" style="background: none;-webkit-box-shadow:none;box-shadow:none;">
            <div class="card-heading ">
                <div style="background-color: #fff;border-radius:10px;padding: 30px;border: 1px solid #d6f0ff;">
                    <button class="btn btn-primary btn-sm hidden-print btn-sm" style="position: absolute;left: 30px;top: 15px;" onclick="window.location.href = '?k=reportes'">Volver</button> 
                    <h1><strong>Reporte lista de preguntas</strong></h1>
                    <?php if(sizeof($data)>1){?>
                    <center><button class="btn btn-info hidden-print btn-sm" onclick="window.print()">Imprimir</button></center>
                    <?php } ?>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <?php if(sizeof($data)>1){?>
                                <table class="table text-left">
                                    <?php for($i=0;$i<sizeof($data);$i++){ ?>
                                    <tbody>
                                        <tr>
                                            <th><?php echo ($i+1) ?>.</th>
                                            <th colspan="6"><strong><?php echo $data[$i]['p'] ?></strong></th>
                                        </tr>
                                        <?php for($j=0;$j<sizeof($data[$i]['a']);$j++){ ?>
                                        <tr>
                                            <?php if($data[$i]['tipo']==1){?>
                                            <th></th>
                                            <th><?php echo ($i+1).'.'.($j+1) ?></th>
                                            <td><?php echo $data[$i]['a'][$j] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c1'] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c2'] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c3'] ?></td>
                                            <td style="font-size: 11px;background-color:#f9f9f9;"><?php echo $data[$i]['c4'] ?></td>
                                            <?php }else{?>
                                            <th></th>
                                            <th><?php echo toAlphabet($j+1) ;?></th>
                                            <td><?php echo $data[$i]['a'][$j] ?></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <?php }?>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                    <?php } ?>
                                </table>
                                <?php } else{?>
                                <h2>No se han registrado preguntas</h2>
                                <?php }?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	        				               
        </div>
    </div>
</div>
